.container {
  background-color: hsl(203, 92%, 75%);
  padding: 20px ;
  margin: 20px auto;
  width: 650px;
  border: 8px solid hsl(210, 14%, 53%);
}

@media (max-width: 414px) {
  .container {
    width: 350px;
  }
}
