html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
  font-family: 'Montserrat', sans-serif;
}